@charset "UTF-8";

/* 헤더 */
header {
  width: 100%;
  height: 70px; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.2);
  padding: 0 50px;
  top: 0;
  background-color: #35353500;
  z-index: 3; /* 헤더가 사이드바 위로 올라가도록 설정 */
}

header > a {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'SF_IceLemon';
  color: #15bef5;
}

button.whiteBtn {
  border: 1px solid #15bef5;
  background-color: #fff;
  color: #15bef5;
  border-radius: 7px;
  padding: 10px 22px;
  cursor: pointer;
  font-size: 15px;
  transition: .5s;
  font-weight: bold;
}

button.whiteBtn:hover {
  background-color: #15bef5;
  color: #fff;
}

button.blueBtn {
  font-weight: bold;
  border: 1px solid #15bef5;
  background-color: #15bef5;
  color: #fff;
  border-radius: 7px;
  padding: 10px 22px;
  cursor: pointer;
  font-size: 15px;
  transition: .5s;
}

button.blueBtn:hover {
  background-color: #fff;
  color: #15bef5;
}

button.redBtn {
  font-weight: bold;
  border: 1px solid #15bef5;
  background-color: #15bef5;
  color: #fff;
  border-radius: 7px;
  padding: 10px 22px;
  cursor: pointer;
  font-size: 15px;
  transition: .5s;
}

button.redBtn:hover {
  background-color: #fff;
  color: #15bef5;
}