 @charset "UTF-8";


#recrBtn {
    position: relative;
    top: 12px;
    left: 10px;
    width: 150px;
    height: 30px;
    size: 15px;
    background-color: #69b6e5;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    box-shadow: 7 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}
	
#freeBtn {
    position: relative;
    top: -18px;
    left: 112px;
    width: 100px;
    height: 30px;
    size: 15px;
    background-color: #69b6e5;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    box-shadow: 7 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}


#box_act { 
    position: relative;
    top: 135px;
    left: -390px;
    font-family: 'Noto Sans', sans-serif;
    /* max-width: 600px; */
    height: 560px;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#box_act h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

#box_act button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 24px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#box_act button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color:white;
}

th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: white;
}

th.title {
    color: #555;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 활동 상태에 따른 색상 구분 */
th:contains('활동중') {
    color: #f39c12; /* Orange */
}

th:contains('활동종료') {
    color: #c0392b; /* Red */
}