@charset "UTF-8";


  body {
    font-family: 'Poppins', sans-serif;
    background-color: #e9eff1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  h1 {
    color: #333;
    margin: 0 0 20px 0; /* h1 태그 아래의 마진을 조정하여 form과의 간격을 늘립니다. */
  }

  #resign_box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

  #resign_box h3, input[type="password"], input[type="submit"], div {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  input[type="password"], input[type="submit"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  div {
    font-size: 14px;
    color: #666;
    text-align: center;
  }