<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alarm">

	<resultMap type="Alarm" id="resultList">
		<id property="alarmId" column="alarm_id"/>
		<result property="alarmKind" column="ALARM_KIND"/>
		<result property="receiverId" column="RECEIVER_ID"/>
		<result property="senderId" column="SENDER_ID"/>
		<result property="checkedYN" column="CHECKED_YN"/>
		<result property="registDate" column="REGIST_DATE"/>
		
		<result property="memberId" column="MEMBER_ID"/>
		<result property="categoryId" column="CATEGORY_ID"/>
		<result property="title" column="TITLE"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select count(*) from alarm where reciever_Id = #{ memberID }
	</select>

	<select id="selectList" parameterType="Paging" resultMap="resultList">
		select *
		from (select rownum rnum, alarm_id, alarm_kind, board_id, title, context, ref_comment_id, receiver_id, sender_id, checked_yn, regist_date
				from (select alarm_id, alarm_kind, b.board_id, title, c.context, ref_comment_id, receiver_id, sender_id, checked_yn, a.regist_date
                        from alarm a
                        join comm_free c on (c.comment_id = a.native_id)
                        join free_board b on (c.board_id = b.board_id)
                        where alarm_kind = 'COMM_FREE'
                        and receiver_id = #{ receiverId }
						union
                        select alarm_id, alarm_kind, b.board_id, title, c.context, ref_comment_id, receiver_id, sender_id, checked_yn, a.regist_date
                        from alarm a
                        join comm_recr c on (c.comment_id = a.native_id)
                        join recr_board b on (c.board_id = b.board_id)
                        where alarm_kind = 'COMM_RECR'
                        and receiver_id = #{ receiverId }
						union
						select alarm_id, alarm_kind, b.board_id, NULL as title, NULL as context, NULL as ref_comment_id, receiver_id, sender_id, checked_yn, a.regist_date
						from alarm a
						join recr_appl  ap on (board_id = native_id)
						join recr_board b on (ap.board_id = b.board_id)
						where alarm_kind = 'RECR_APPL'
						and receiver_id = #{ receiverId }
						order by checked_YN desc, regist_date desc))
		where rnum between #{ startRow } and #{ endRow }
	</select>

</mapper>
