<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap id="resultMember" type="Member">
		<id property="memberID" column="MEMBER_ID" />
		<result property="memberPWD" column="MEMBER_PWD" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="birth" column="BIRTH" />
		<result property="gender" column="GENDER" />
		<result property="email" column="EMAIL" />
		<result property="address" column="ADDRESS" />
		<result property="photoFilename" column="PHOTOFILE_NAME" />
		<result property="resign" column="RESIGN" />
		<result property="adminYN" column="ADMIN_YN" />
		<result property="signType" column="SIGNTYPE" />
		<result property="actLimit" column="ACT_LIMIT" />
		<result property="registDate" column="REGIST_DATE" />
		<result property="modifiedDate" column="MODIFIED_DATE" />

	</resultMap>
	
	
	
	<resultMap id="resultList" type="Member">
		<result property="memberID" column="MEMBER_ID" />
		<result property="memberPWD" column="MEMBER_PWD" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="birth" column="BIRTH" />
		<result property="gender" column="GENDER" />
		<result property="email" column="EMAIL" />
		<result property="address" column="ADDRESS" />
		<result property="photoFilename" column="PHOTOFILE_NAME" />
		<result property="resign" column="RESIGN" />
		<result property="adminYN" column="ADMIN_YN" />
		<result property="signType" column="SIGNTYPE" />
		<result property="actLimit" column="ACT_LIMIT" />
		<result property="registDate" column="REGIST_DATE" />
		<result property="modifiedDate" column="MODIFIED_DATE" />

	</resultMap>
	

	
	
	
	

	<!-- 로그인용 쿼리 -->
	<select id="selectMember" parameterType="string" resultMap="resultMember">
		select * from member where MEMBER_ID = #{ memberID } and ACT_LIMIT in(0,1)
		
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member 
		values (#{ memberID }, #{ memberPWD }, #{ memberName }, #{ birth },  #{ gender }, #{ email }, 
				#{ address }, #{ photoFilename }, default, default, default, default, default, default)
		where MEMBER_ID != #{ memberID }
	</insert>
	
	<!-- 회원가입시 아이디 중복 여부 검사용 쿼리 -->
	<select id="selectCheckId" parameterType="string" resultType="_int">
		select count(*) from member where MEMBER_ID = #{ memberid }
	</select>
	
	<!--  회원가입시 이메일 중복 여부 검사용 쿼리 -->
	<select id="selectCheckEmail" parameterType="string" resultType="_int">
		select count(*) from member where EMAIL = #{ email }
	
	</select>
	
	<select id="selectFindId" parameterType="Member" resultMap="resultMember">
		select * from member 
		where EMAIL = #{ email } AND MEMBER_NAME = #{ memberName }
	</select>
	

</mapper>
